body {background-color:lightgray;}

#btnmenu {margin-left:5px;
	margin-bottom:10px;}

.movbtn {margin:5px;
	background-color:teal;
	color:white;}

#searchform {float:right;
	display:block;
	margin-bottom:20px;}

#newmovie {width:300px;
	border:2px teal solid;
	display:block;}

#submitbtn {background-color:teal;
	color:white;}


